/* Uses typescale 1.250 */ 

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  font-family: sans-serif;
  background: color(srgb 0.9999 1 1);
  -webkit-font-smoothing: antialiased;
  color: #222;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a {
  color: color(display-p3 0.8 0.3608 0.0706);
}

.sitewrapper {
  max-width: 640px;
  margin: 0 auto;
  padding: 1rem;
}

main {
  display: flex;

  > * {
    flex: 1;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: #111;
}

h1 {
  font-size: 1.563rem;
}

h2 {
  font-size: 1.25rem;
}

h3, h4, h5, h6 {
  font-size: 1rem;
}

.stack {
  & > * {
    margin-top: 0;
  }

  & > * + * {
      margin-top: 1rem;
  }
}

.stack-small {
  & > * {
    margin-top: 0;
  }

  & > * + * {
      margin-top: .5rem;
  }
}

footer {
  text-align: center;
  font-size: 0.8rem;
  color: #555;
}

footer a {
  color: inherit;
}
