<!doctype html>
<html lang="en">
    <head>
        <title>{{ head.title }}</title>
        <description>{{ head.description }}</description>
        <meta charset="utf-8" />
        <meta name="title" content="{{ head.title }}" />
        <meta name="description" content="{{ head.description }}" />
        <meta name="author" content="Arne Bahlo" />
        <meta name="theme-color" content="color(srgb 0.9429 0.3521 0.1599)" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ head.url }}" />
        <meta property="og:title" content="{{ head.title }}" />
        <meta property="og:description" content="{{ head.description }}" />
        <meta property="og:image" content="https://firechicken.club/og-image.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
        <link rel="manifest" href="/site.webmanifest" />
        <link rel="stylesheet" href="/style.css?hash={{ meta.css_hash }}" />
    </head>
    <body>
        <div class="sitewrapper stack">
